DATABASE_URL=postgres://media_player:media_player@127.0.0.1:15432/media_player?sslmode=disable
SERVER_ADDR=:8080
CORS_ORIGIN=*
CONFIG_PATH=config.yaml
MUSIC_DIRECTORY=/Users/you/Music
LYRICS_DIRECTORY=/Users/you/MusicLyrics
LOSSLESS_MUSIC_DIRECTORY=/Users/you/Music
LOSSLESS_LYRICS_DIRECTORY=/Users/you/MusicLyrics
LOSSY_MUSIC_DIRECTORY=/Users/you/MusicLossy
LOSSY_LYRICS_DIRECTORY=/Users/you/MusicLyricsLossy
SHARED_LYRICS_DIRECTORY=/Users/you/MusicLyricsShared
LIBRARY_WATCH_POLL_INTERVAL=1m
LIBRARY_WATCH_DEBOUNCE=30s
LIBRARY_AUTO_SCAN_INTERVAL=0
